body{
  background-color:  rgba(233, 233, 233, 1);
}

.App {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.btn {
  background-color: #1f51ff;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 24px;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
} 

.header {
  background-image: url("./props/black.jpg");
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width:100%;
}
.header-heading {
  font-family: "Playfair Display";
  font-weight: normal;
  text-align: center;
  font-size: 64pt;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 20px;
  color: rgba(255, 255, 255, 1);
  white-space: pre-wrap;
  word-wrap: break-word;
}
.header-logo {
  width: min(50vw, 200px);
  align-self: center;
  margin-bottom: 20px;
}


